---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Resumen</div>
  </div>

  <div class="mb-10 text-justify">
    Desarrollador fullstack con más de 8 años de experiencia en el desarrollo de
    distinto tipo de productos. Actualmente CTO de Lazarillo y MapVX, empresas
    con el propósito de crear soluciones tecnológicas que impacten positivamente
    la vida de las personas. Desde 2018, he liderado las estrategias
    tecnológicas de ambas plataformas, enfocándome en la innovación y la
    accesibilidad.
    <br />
    Soy una persona capaz de resolver problemas con tiempo y recursos limitados,
    esto me ha llevado a ser alguien con una amplia cantidad de conocimientos pero
    a su ves ha hecho que no me especialice en nada. Si hay algo que no se, puedo
    aprenderlo o buscarlo en internet o ahora que está de moda la IA, preguntarle
    a algún asistente.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniería en Computación"
      subtitle="2012 al 2016 en Universidad de Chile, Santiago, Chile. Congelado y finalizado el 2024."
    />
    <TimeLineElement
      title="Enseñanza Media"
      subtitle="2008 al 2011 en Instituto Nacional General José Miguel Carrera, Santiago, Chile."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia Laboral</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="CTO en Lazarillo y MapVX"
      subtitle="Desde 2018 en Santiago, Chile"
    >
      En 2018 asumo oficialmente como CTO, liderando el equipo de desarrollo y
      gestionando proyectos clave para la empresa. Mi enfoque ha sido en la
      implementación de tecnologías innovadoras y en la mejora continua de los
      procesos de desarrollo para asegurar la calidad y eficiencia en la entrega
      de productos.
      <br />
      Nuestro stack es bastante amplio pero el principal es <b>Firebase</b> como
      backend serveless, <b>Angular</b> en las aplicaciones web y código nativo para
      aplicaciones móviles (<b>Kotlin y Swift</b>) Además poseemos sdk para
      integración con otras aplicaciones en <b>Ionic, React Native y Flutter</b
      >.
      <br />
      <a href="https://mapvx.com" class="link">Mapvx.com</a>
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador Fullstack en Lazarillo"
      subtitle="Desde 2016 a 2018 en Santiago, Chile"
    >
      Empecé como desarrollador fullstack en Lazarillo, donde empecé a
      desarrollar en <b>Angular 2+ y Firebase</b>. El Backend de Firebase
      Functions usando <b>Nodejs y Expressjs</b>. También aprendí sobre
      servidores en <b>Microsoft Azure y AWS</b>, aplicación de Lazarillo App
      que migramos de Java a Kotlin en Android y actualizamos desde Swift 3 a 5
      en iOS conforme se publicaron nuevas versiones.
      <br />
      <a href="https://lazarillo.app" class="link" target="_blank"
        >Lazarillo.app</a
      >
    </TimeLineElement>
    <TimeLineElement
      title="Teaching is Learning"
      subtitle="2014 a 2016 en Universidad de Chile, Santiago, Chile"
    >
      Este fue un proyecto que trabajé para mi memoria de magister que
      finalmente no defendí. Durante varios años trabajé en la mantención y
      desarrollo del sitio. El stack es <b>Django y Postgres</b>.
      <br />
      La educación siempre fue un tema que me interesó, por lo que este proyecto
      fue una forma de combinar mi amor por la computación y la educación, donde
      la idea era realizar peer review sobre material educativo generado por los
      mismos estudiantes.
      <br />
      <a href="https://teachingislearning.cl" class="link" target="_blank"
        >Teachingislearning.cl</a
      >
    </TimeLineElement>
    <TimeLineElement
      title="Calce"
      subtitle="2016 en Universidad de Chile, Santiago, Chile"
    >
      Este proyecto fue mi última práctica profesional, que duraba un semestre
      completo. Se desarrollo la herramienta web que permitía la conexión entre
      la empresa y el personal médico que atiende al paciente y realiza el
      escaneo.
      <br />
      <a href="https://calce.cl" class="link" target="_blank">calce.cl</a>
    </TimeLineElement>
    <TimeLineElement
      title="Solotodo"
      subtitle="2016 en Universidad de Chile, Santiago, Chile"
    >
      Acá hice mi segunda práctica y también trabajé un tiempo después de forma
      part-time. Después de mi decepcionante primera experiencia laboral que
      omito para no perjudicarlos, busqué un trabajo que tuviera algo más
      atractivo como propósito y es así como llegué a conocer a Vijay, fundador
      de esta empresa.
      <br />
      Este proyecto es un comparador de productos online, que hace scrapping de distintos
      sitios y guarda los precios históricos. El stack usado fue principalmente django
      con redis y celery. También acá fue donde adquirí mis buenas prácticas como
      programador, por lo que les estaré eternamente agradecido.
      <br />
      <a href="https://solotodo.com" class="link" target="_blank"
        >solotodo.com</a
      >
    </TimeLineElement>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills principales</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Angular 2+</li>
    <li>Nodejs</li>
    <li>TypeScript</li>
    <li>Python</li>
    <li>Kotlin</li>
    <li>Swift</li>
    <li>Docker</li>
    <li>Nginx</li>
    <li>
      Firebase: Realtime Database, storage, functions, auth, hosting. etc.
    </li>
    <li>
      scss, css principalmente con alguna librería como Bootstrap, Material o
      TailwindCSS
    </li>
  </ul>
</BaseLayout>
