---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola! </div>
    <div class="text-5xl font-bold">Soy Jorge Ampuero</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer y Full Stack developer
    </div>
    <div class="py-2">
      <p>
        Soy Jorge Ampuero, ingeniero en computaci贸n de la Universidad de Chile y
        actualmente ocupo el cargo de CTO de <a
          href="https://lazarillo.app"
          target="_blank"><b>Lazarillo</b></a
        > y <a href="https://mapvx.com"><b>MapVX</b></a>, empresas con el
        prop贸sito de crear soluciones tecnol贸gicas que impacten positivamente la
        vida de las personas. Desde 2018, he liderado las estrategias
        tecnol贸gicas de ambas plataformas, enfoc谩ndome en la innovaci贸n y la
        accesibilidad.
      </p>
      <br />
      <p>
        En mi tiempo libre me gusta aprender nuevas tecnolog铆as, por lo que
        suelo rehacer esta p谩gina usando diferentes tecnolog铆as. Actualmente
        est谩 hecha con Astro y TailwindCSS.
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis 煤ltimos proyectos</div>
  </div>

  <HorizontalCard
    title="Blog"
    img="/logo_ghost.webp"
    desc="Blog para escribir de cosas de la vida, principalmente de tecnolog铆a."
    url="https://blog.ampuero.me"
    base="https://ghost.org"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Memos"
    img="/logo_memos.png"
    desc="Aplicaci贸n para tomar notas y recordatorios."
    url="https://memos.ampuero.me"
    base="https://www.usememos.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Authentik"
    img="/logo_authentik.svg"
    desc="Aplicaci贸n de Autenticaci贸n."
    url="https://authentik.ampuero.me"
    base="https://goauthentik.io/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nextcloud"
    img="/logo_nextcloud.svg"
    desc="Nube hosteada en mi rpi 5 con ssd de 1TB."
    url="https://nextcloud.ampuero.me/"
    base="https://nextcloud.com/"
  />
</BaseLayout>
