---
const {
  title,
  img,
  desc,
  url,
  badge,
  tags,
  target = "_blank",
  base = "",
} = Astro.props;

import Content from "./HorizontalCardContent.astro";
const props = { title, img, desc, url, badge, tags };
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  {
    url ? (
      <a href={url} target={target} class="block">
        <Content {...props} />
      </a>
    ) : (
      <Content {...props} />
    )
  }
</div>

{
  base && (
    <a
      href={base}
      class="flex items-center justify-center bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%] p-2 rounded-lg"
    >
      <b>Ver sitio oficial del proyecto</b>
    </a>
  )
}
